* {
    margin: 0;
    padding: 0;
    outline: none;
}

$site_wight: 1140px;
$button_color: #FFFFFF;
$button_bg_hover: #F16D7F;

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.top {
    background: #F1E4E6;
    margin: auto;
}

.top .head {
    background: #222222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: 2% 15%;
}

.left_menu {
    display: flex;
    list-style-type: none;
    align-items: flex-end;
}

.seach {
    position: absolute;
    top: 3px;
    left: 30px;
    display: flex;
    display: none;
    border-radius: 20px;
}

.img-right:hover .seach {
    display: flex;
}

.img-right:hover {
    display: flex;
}

.right_menu {
    display: flex;
    list-style-type: none;
    align-items: flex-end;
}

.top .img-left {
    margin-right: 41px;
}

.top .img-right {
    margin-left: 33px;
    position: relative;
}

.top .heading {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: #F1E4E6;
    height: 764px;
}

.top .heading .top_box {
    display: flex;
    width: 50%;
    margin-top: 290px;
    margin-left: -10%;
}

.top_img {
    z-index: 30;
    flex: 0.5;
}

.top .heading .top_box-text {
    display: flex;
    animation: scale-up-top .4s cubic-bezier(.39, .575, .565, 1.000) 1s both
}

.top .heading .top_box-text .border {
    width: 12px;
    height: 92px;
}

@keyframes scale-up-top {
    0% {
        transform: scale(.5);
        transform-origin: 50% 0
    }

    100% {
        transform: scale(1);
        transform-origin: 50% 0
    }
}

.top .heading .top_box-text .text {
    box-sizing: border-box;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    flex-direction: column;
    color: #222222;
    margin-left: 16px;
}

.top .heading .top_box-text .text .top_text {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.top .heading .top_box-text .text .p_text {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.container {
    display: flex;
    flex-direction: column;
    background: white;
    padding-top: 64px;
    max-width: $site_wight;
    width: 100%;
}

.container .foto_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.container .foto_container .item_container {
    position: relative;
}

.acsessuar_img {
    width: 100%;
}



.acsessuar_img_bottom2 {
    width: 100%;
    display: none;
    filter: brightness(40%);
}

.item_centr_container {
    margin-left: 30px;
    margin-right: 30px;
}

.container .foto_container .text_block_container {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -20%;
}

.text_block_container-1 {
    position: absolute;
    top: 40%;
    left: 35%;
}

.text_block_container-2 {
    position: absolute;
    top: 40%;
    left: 35%;
}




.container .item_botton_container {
    margin: auto;
    position: relative;
}


.container .item_botton_container .text_block_botton_container {
    position: absolute;
    top: 35%;
    left: 45%;
}

.container .text_container {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.container .top_text_container {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.card-box .heading_card {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin: auto;
    text-align: center;
    display: block;
    font-weight: 600;
}

.card-box .card_block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    background: white;
}

.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    background: #F8F8F8;
    width: 32%;
    height: fit-content;
    box-shadow: slategrey;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    padding-bottom: 20px;

}

.item_link {
    display: block;
    text-decoration: none;
}

.item:hover .img_card {
    filter: brightness(40%);
}

.img_card {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.text_box {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 18px;
}

.item_sec {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
}

.item_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 12px;
}

.item_price {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 18ox;
    color: #F16D7F;
    margin-top: 18px;
}

.add_box {
    display: none;
    position: absolute;
    justify-content: center;
    width: 100%;
    pointer-events: none;
    top: 180px;
}

.item:hover .add_box {
    display: flex;
    box-shadow: #5D5D5D;
}

.add:hover {
    box-shadow: 0 0 10px #FFFFFF;
}

.add_text {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 8px;
}

.add {
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    top: 188px;
    border: 1px solid #FFFFFF;
    padding: 13px;
    pointer-events: auto;
}

.item:hover .add {
    display: flex;
    box-shadow: #5D5D5D;
}

.add:hover {
    box-shadow: 0 0 10px #FFFFFF;
}

.card-box .card_block .card {
    background: #f0e8e8;
    text-decoration: none;
    width: 360px;
    margin-bottom: 30px;
    display: block;

}

@keyframes vibrate-1 {
    0% {
        transform: translate(0)
    }

    20% {
        transform: translate(-2px, 2px)
    }

    40% {
        transform: translate(-2px, -2px)
    }

    60% {
        transform: translate(2px, 2px)
    }

    80% {
        transform: translate(2px, -2px)
    }

    100% {
        transform: translate(0)
    }
}

.button {
    font-size: 16px;
    line-height: 19px;
    color: #FF6A6A;
    background-color: $button_color;
    border: 1px solid #FF6A6A;
    padding: 14px 38px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 95px;
    text-decoration: none;
    animation: vibrate-1 .3s linear infinite both;
    transition: all 0.6s;
}

.button:hover {
    color: #FFFFFF;
    background: $button_bg_hover;
}

.page-2 {
    margin: auto;
    margin-bottom: 48px;
    align-items: center;
}

.menu {
    z-index: 2;
    width: 16%;
    height: 744px;
    background: #FFFFFF;
    position: absolute;
    top: 78px;
    right: 0;
    padding-left: 34px;
    padding-top: 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    z-index: 11;
}

.close {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background: none;
}

.close:hover.menu {
    display: none;
}

summary {
    list-style-type: none;
}

.list_menu {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.chapter_menu {
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-bottom: 6px;
    text-decoration: none;
}

.text_menu {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding: 6px 0 6px 30px;
    text-decoration: none;
}

.title_menu {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 24px;
}

.footer {
    background: #222224;
}

.container_footer {
    display: flex;
    justify-content: space-around;
    min-height: 341px;
}

.icon_footer {
    height: 39px;
    margin-top: 103px;
    margin-bottom: 28px;
}

.sale_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.heading_footer_black {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-bottom: 16px;
}

.text_footer_black {

    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    width: 100%;
    color: #FBFBFB;
}

.text_reseption {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 30px;
}

.footer_contact {
    min-height: 448px;
    display: flex;
    justify-content: space-around;
    background-image: url(img/foto/footer_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.heading_sub {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #222224;
    line-height: 40px;
}

.reseption {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    padding-top: 97px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 557px;
    padding-top: 150px;
}

.form {
    width: 317px;
    height: 49px;
    position: relative;
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.e-mail {
    background: #E1E1E1;
    font-size: 14px;
    line-height: 17px;
    padding: 7px 98px 7px 22px;
    color: #222224;
    opacity: 0.67;
    height: 35px;
    border-radius: 20px 0 0 20px;
    border: none;
    padding-right: 10px;
}

.buttom_subscribe {
    width: 100px;
    height: 46px;
    background: $button_color;
    border-radius: 0 20px 20px 0;
    border: none;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    color: #FF6A6A;
    border: 1px solid #FF6A6A;
    top: 3;
    right: 0;
    text-decoration: none;
    line-height: 42px;
}

.buttob_subscribe:hover {
    color: #FFFFFF;
    background: $button_bg_hover;
}

.copyright_footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 230px 30px;
    align-items: center;
}

.text_copy {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.social_icon {
    display: flex;
}

.icon {
    display: block;
    margin-left: 7px;
}

.fa {
    display: flex;
}

.fa.fa-facebook-f:before {
    line-height: 30px;
}

.fa-facebook-f {
    width: 32px;
    height: 32px;
    color: #000000;
    background: #FFFFFF;
    text-align: center;
}

.fa:hover.fa-facebook-f {
    color: #FFFFFF;
    background: #F16D7F;
}

.fa.fa-instagram:before {
    line-height: 30px;
}

.fa-instagram {
    width: 32px;
    height: 32px;
    color: #000000;
    background: #FFFFFF;
    text-align: center;
}

.fa:hover.fa-instagram {
    color: #FFFFFF;
    background: #F16D7F;
}

.fa.fa-pinterest-p:before {
    line-height: 30px;
}

.fa-pinterest-p {
    width: 32px;
    height: 32px;
    color: #000000;
    background: #FFFFFF;
    text-align: center;
}

.fa:hover.fa-pinterest-p {
    color: #FFFFFF;
    background: #F16D7F;
}

.fa.fa-twitter:before {
    line-height: 30px;
}

.fa-twitter {
    width: 32px;
    height: 32px;
    color: #000000;
    background: #FFFFFF;
    text-align: center;
}

.fa:hover.fa-twitter {
    color: #FFFFFF;
    background: #F16D7F;
}

.img_card {
    position: relative;
}

.card:hover .card-1 {
    filter: brightness(40%);
}

.card:hover .add {
    display: flex;
}

.add:hover .card.card-1 {
    filter: brightness(40%);
}

.img_card {
    display: flex;
    align-items: center;
}

.heading_catalog {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: #F1E4E6;
    height: 148px;
}

.filter_catalog {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    margin-right: 11px;
    display: block;
}

.filter {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    margin-right: 11px;
    display: block;
}

.filter2 {
    display: none;
}

.trending_list {
    width: 40%;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    background: #FFFFFF;
    width: 11%;
    box-shadow: 1px 0px 18px 3px #6f6e6e;
    padding: 13px 17px;
}

.price {
    display: flex;
    flex-direction: column;
    width: 13%;
    position: absolute;
    z-index: 30;
    background: #FFFFFF;
    box-shadow: 1px 0px 18px 3px #6f6e6e;
    padding: 13px 17px;
}

.sum_dalail:hover .filter_catalog {
    color: #F26376;
}

.sum_dalail:hover .img_filter {
    content: url(img/card/img_filter.svg);
}

.img_filter {
    height: 10px;
    margin-top: 3px;
    width: 15px;
    color: #000000;
}


.top_text_catalog {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.riht_heading_catalog {
    display: flex;
}

.text_catalog {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none;
}

.text_catalog:hover {
    color: violet;
}

.red_text_catalog {
    color: #F16D7F;
}

.page-catalog {
    display: flex;
    max-width: $site_wight;
    width: 100%;
    margin-left: 1%;
    margin-bottom: 64px;
    justify-content: flex-start;
}

.sum_dalail {
    display: flex;
    z-index: 20;
    margin-bottom: 16px;
}

.sum_dalail:hover .filter_down {
    color: #F26376;
}

.filter_down {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.filter_down:hover {
    color: #F26376;
}

.line_vert {
    margin-right: 11px;
}

.list_filter_text {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-bottom: 11px;
    margin-left: 5%;
}

.item_list_1 {
    margin-left: 32%;
    margin-right: 5%;
}

.item_list_2 {
    margin-right: 5%;
}

.category {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    background: #FFFFFF;
    width: 25%;
    box-shadow: 1px 0px 18px 3px #6f6e6e;
    padding: 13px 17px;
}

.catalog_text {
    margin-left: 304px;
    margin-right: 11px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.check_size {
    display: flex;
    flex-direction: column;
    z-index: 19;
    position: absolute;
    box-shadow: 1px 0px 18px 3px #6f6e6e;
    padding: 13px 17px;
    background: #FFFFFF;
    width: 6%;
}

.box_size {
    display: flex;
    margin-bottom: 10px;
}

label {
    margin-top: -3px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
}

.text_margin_left {
    margin-left: 28px;
}

.number_pages {
    width: 284px;
    height: 44px;
    align-self: center;
    margin-bottom: 96px;
    margin-top: 16px;
}

.product {
    height: 777px;
    background: #F7F7F7;
    background-image: url(img/card/top_product.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 9;
}

.product_card {
    background: white;
    margin-top: 130px;
    max-width: $site_wight;
    width: 100%;
}

.arrow_right {
    position: absolute;
    top: 364px;
    right: 0;
}

.arrow_left {
    position: absolute;
    top: 364px;
    left: 0;
}

.wooman_collection {
    background: #ffff;
}

.mochino {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #EAEAEA;
    background: #FFFFFF;
    margin: auto;
    width: $site_wight;
    padding-top: 64px;
    padding-bottom: 65px;
    position: relative;
    z-index: 10;
    margin-top: -48px;
}

.mohito_collection {
    align-self: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;
    color: #F16D7F;
}

.mohito_cheap {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin-top: 12px;
    margin-bottom: 48px;
}

.mohito_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    width: 555px;
    color: #5E5E5E;
    margin-bottom: 32px;
}

.mohito_price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    margin-bottom: 65px;
}

.line {
    border: 1px solid #EAEAEA;
    width: 641px;
}

.block_nav {
    display: flex;
    justify-content: space-around;
    margin-top: 65px;
}

.mohito_choose {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin-right: 9px;
    margin-left: 23px;
}

.mochino_button {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.button:hover .button_add {
    content: url(img/card/busket.png);
}

.red_add {
    margin-left: 23px;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}

.button:hover .red_add {
    color: #FFFFFF;
    image-rendering: auto;
}

.top_registraition {
    background: white;

}

.heading_registration {
    height: 148px;
    display: flex;
    flex-direction: column;
    background: #F8F3F4;
}

.heading_registr {
    margin-left: 230px;
    line-height: 148px;
    font-size: 24px;
    color: #F16D7F;
}

.top_cart {
    display: flex;
    flex-direction: row;
    max-width: $site_wight;
    margin: 0 auto;
    justify-content: space-between;
}

.left_cart {
    display: flex;
    flex-direction: column;
    margin-top: 96px;
}

.img_cart {
    height: 100%;
}

.item_cart {
    display: flex;
    width: 652px;
    height: 306px;
    box-shadow: (17px 19px 24px rgba(0, 0, 0, 0.13));
    margin-bottom: 40px;
    transition: all 0.5s;
}

.item_cart:hover {
    transform: scale(1.2) translate(-3%, -3%);
}

.text_cart {
    margin-left: 31px;
    margin-top: 22px;
}

.heading_cart {
    margin-bottom: 42px;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    width: 75%;
}

.cart_text_mini {
    margin-bottom: 6px;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
}

.cart_price {
    margin-left: 20px;
    margin-right: 34px;
    font-size: 22px;
    line-height: 26px;
}

.item_form_cart {
    display: flex;
    flex-direction: column;
}

.cart_bank {
    display: flex;
    flex-direction: column;
    background: #F5F3F3;
    height: 214px;
    box-shadow: (17px 19px 24px rgba(0, 0, 0, 0.13));
    transition: all 0.5s;
}

.cart_bank:hover {
    transform: scale(1.5) translate(-50px, -50px);
}

.total {
    display: flex;
    justify-content: end;
    margin-top: 34px;
}

.sub_total {
    display: flex;
    justify-content: end;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
}

.price_bank {
    display: block;
    font-size: 11px;
    line-height: 13px;
    margin-left: 20px;
    margin-right: 34px;
    color: #4A4A4A;
}

.grand_total {
    display: flex;
    justify-content: end;
    margin-top: 12px;
}

.grand_cart_bank {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.bank_cart {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-right: 34px;
    margin-left: 20px;
}

.line_cart_bank {
    margin: 21px 43px 0;
    background: #E2E2E2;
}

.button_mini_cart {
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    padding: 9px 15px;
    margin-left: 0;
    margin-top: 34px;
}

.button_cart {
    display: flex;
    justify-content: space-between;
    margin-top: 73px;
}


.button_cart_item_left {
    margin-left: 0;
    display: block;
    margin-right: 20%;
    border: 1px solid #A4A4A4;
    color: #000000;
}

.button_cart_item {
    border: 1px solid #A4A4A4;
    color: #000000;
}

.right_cart {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 81px;
}

.text_registr {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 22px;
    margin-bottom: 21px;
}

.form_registr {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    margin-bottom: 21px;
    max-width: 652px;
    margin-left: 128px;
}

.list_regist {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    list-style-type: none;
    color: #000000;
}

.top_registration {
    display: flex;
    justify-content: space-around;
}

.form_registraition {
    margin-top: 64px;
    margin-left: 230px;
}

.your_name {
    display: block;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-top: 34px;
}

.input_registr {
    margin-top: 20px;
    height: 44px;
    width: 358px;
    padding-left: 17px;
    padding-right: 17px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    opacity: 0.6;
}

.radio_button_registr {
    margin-top: 31px;
    display: flex;
}

.radio_1 {
    border: 1px solid #A4A4A4;
    margin-right: 10px;
}

.radio_text {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    margin-right: 20px;
}

.item_registr {
    display: flex;
    margin-top: 16px;
}

.more_characters {
    display: block;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    width: 359px;
    color: #B1B1B1;
    margin-top: 15px;
}

.check {
    margin-right: 23px;
}

.loyalty {
    display: flex;
    flex-direction: column;
}

.loyalty_header {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 64px;
}

.button_registr {
    display: flex;

}

.button_registr_new {
    margin-top: 39px;
    margin-left: 0;
}

.fa-arrow-right {
    margin-left: 10px;
}

@media (min-width:768px) and (max-width:1024px) {

    .top .head {
        min-height: 40px;
        padding: 2% 5%;

    }

    .top .heading {
        height: 367px;
    }

    .top .heading .top_box {
        margin-top: 139px;
        margin-left: 5%;
    }

    .top .heading .top_box-text .text .top_text {
        font-size: 44px;
        line-height: 53px;
    }

    .top .heading .top_box-text .text .p_text {
        font-size: 24px;
        line-height: 28px;
    }

    .top_box {
        margin-left: 6%;
    }

    .item {
        width: 48%;
    }

    .container_footer {
        flex-wrap: wrap;
        padding-bottom: 64px;
    }

    .sale_footer {
        width: 100%;
    }

    .footer_contact {
        flex-wrap: wrap;
    }

    .copyright_footer {
        padding: 30px 24px;
        line-height: 0%;
    }

    .text_footer_black {
        width: 360px
    }

    .container {
        padding-top: 20px;
    }

    .page-2 {
        margin-top: 135px;
        margin-bottom: 73px;
    }

    .container .foto_container {
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 1%;
    }

    .card_block {
        margin-left: 1%;
        margin-right: 1%;
    }

    .item_centr_container {
        margin-right: 1%;
        margin-left: 1%;
    }

    .container .item_botton_container {
        margin-left: 1%;
        margin-right: 1%;
    }

    .icon_footer {
        margin-top: 48px;
    }

    .subscribe {
        padding-top: 48px;
        margin-bottom: 225px;
    }

    .reseption {
        padding-top: 54px;
    }

    .button {
        margin-bottom: 65px;
        margin-top: 32px;
    }


    .acsessuar_img_bottom {
        width: 100%;
    }

    .page-catalog {
        justify-content: space-around;
    }


}

@media (min-width: 375px) and (max-width:767px) {
    .top .head {
        padding: 2% 5%;
    }

    .top_img {
        display: none;
    }

    .top .heading .top_box-text .text .top_text {
        font-size: 38px;
        line-height: 45px;
    }

    .top .heading .top_box-text .text .p_text {
        font-size: 20px;
        line-height: 24px;
    }

    .top .heading .top_box {
        margin: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .top .heading {
        height: 363px;
    }

    .container .foto_container .item_container {
        width: 100%;
    }

    .container .foto_container {
        flex-wrap: wrap;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 1%;
    }

    .item_centr_container {
        margin: 0;
    }

    .item {
        width: 100%;
        margin-bottom: 5%;
    }

    .text_card {
        text-align: center;
    }

    .container_footer {
        flex-wrap: wrap;
        padding-bottom: 64px;
    }

    .sale_footer {
        width: 100%;
    }

    .footer_contact {
        flex-wrap: wrap;
        padding: 54px 0 109px;
    }

    .reseption {
        padding: 0;
    }

    .copyright_footer {
        flex-direction: column-reverse;
        padding: 43px 0 9px
    }

    .element_copyright_footer {
        margin-top: 40px;
    }

    .acsessuar_img_bottom {
        width: 100%;
        display: none;

    }

    .acsessuar_img_bottom2 {
        display: block;

    }

    .container .item_botton_container {
        margin: 0 1%;
    }

    .container .item_botton_container .text_block_botton_container {
        left: 35%;
    }

    .heading_catalog {
        flex-wrap: wrap;
    }

    .top_text_catalog {
        width: 100%;
        text-align: center;
    }

    .filter {
        display: none;
    }

    .filter2 {
        display: block;
    }

    .item_list_1 {
        margin-left: 13%;
    }

    .img_filter {
        width: 80%;
        height: 80%;
    }

    .category {
        width: 50%;
    }

    .trending_list {
        width: 50%;
    }

    .check_size {
        width: 20%;
    }

    .price {
        width: 27%;
        transform: translate(-54px, 0px);
    }

    .filter_catalog {
        margin-left: -20%;
    }

    .top .head {
        padding: 0% 2%
    }

    .left_menu {
        padding-left: 0;
    }

    .riht_heading_catalog {
        margin-bottom: 46px;
    }

    .top_text_catalog {
        margin-top: 24px;
        margin-bottom: 32px;
    }
}