* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: 'Lato';
  font-weight: 400;
}

.top {
  background: #F1E4E6;
  margin: auto;
}

.top .head {
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 18px 240px 18px 231px;
}

.left_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.seach {
  position: absolute;
  top: 3px;
  left: 30px;
  display: flex;
  display: none;
  border-radius: 20px;
}

.img-right:hover .seach {
  display: flex;
}

.img-right:hover {
  display: flex;
}

.right_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.top .img-left {
  margin-right: 41px;
}

.top .img-right {
  margin-left: 33px;
  position: relative;
}

.top .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 1600px;
  width: 100%;
  background: #F1E4E6;
  background-image: url(img/top/men.png);
  background-repeat: no-repeat;
  height: 764px;
}

.top .heading .top_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 290px;
  right: 331px;
}

/* Хмелевский А.В. */
.top .heading .top_box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top .heading .top_box-text .border {
  width: 12px;
  height: 92px;
}

.top .heading .top_box-text .text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #222222;
  margin-left: 16px;
}

.top .heading .top_box-text .text .top_text {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.top .heading .top_box-text .text .p_text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: whitesmoke;
  padding-top: 64px;
}

.container .foto_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
}

.container .foto_container .item_container {
  position: relative;
}

.container .foto_container .text_block_container {
  position: absolute;
  top: 103px;
  left: 105px;
}

.container .item_botton_container {
  margin: auto;
  position: relative;
}

.container .item_botton_container .text_block_botton_container {
  position: absolute;
  top: 65px;
  left: 492px;
}

.container .text_container {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.container .top_text_container {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-box .heading_card {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin: auto;
  text-align: center;
  display: block;
}

.card-box .text_card {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin: auto;
}

.card-box .card_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 360px;
  margin: auto;
  margin-bottom: 30px;
}

.card-box .card_block .card {
  background: #f0e8e8;
  text-decoration: none;

}

.card-box .card_block .card .heading_text_card {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 13px;
  text-decoration: none;
}

.card-box .card_block .card .main_text_card {
  margin-left: 16px;
}

.card-box .card_block .card .price {
  font-size: 16px;
  line-height: 19px;
  margin-top: 18px;
  margin-bottom: 20px;
  color: #F16D7F;
}

.margin_img {
  margin-left: 30px;
}

.button {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  padding: 14px 38px;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 95px;
  text-decoration: none;
}

.button:hover {
  color: #FFFFFF;
  background: #F16D7F;
}

.page-2 {
  margin: auto;
  margin-bottom: 48px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu {
  z-index: 2;
  width: 260px;
  height: 744px;
  background: #FFFFFF;
  position: absolute;
  top: 62px;
  right: 120;
  padding-left: 34px;
  padding-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
}

.close:hover .menu {
  display: none;
}

.drop_menu {
  text-decoration: none;

}

.drop_menu:hover .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list_menu {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.chapter_menu {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 6px;
  text-decoration: none;
}

.text_menu {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 6px 0 6px 30px;
  text-decoration: none;
}

.title_menu {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 24px;
}

.footer {
  background: #222224;
}

.container_footer {
  display: flex;
  justify-content: space-around;
  height: 341px;
}

.icon_footer {
  height: 39px;
  margin-top: 103px;
  margin-bottom: 28px;
}

.sale_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading_footer_black {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
}

.text_footer_black {

  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  width: 360px;
  color: #FBFBFB;
}

.footer_contact {
  background: rgba(244, 244, 244, 0.7);
}

.text_reseption {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-top: 30px;

}

.footer_contact {
  height: 448px;
  display: flex;
  justify-content: space-around;
  background-image: url(img/foto/footer\ bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.heading_sub {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #222224;
  line-height: 40px;
}

.reseption {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  padding-top: 97px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 557px;
  padding-top: 150px;
}

.form {
  width: 317px;
  height: 49px;
  position: relative;
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.e-mail {
  background: #E1E1E1;
  font-size: 14px;
  line-height: 17px;
  padding: 7px 98px 7px 22px;
  color: #222224;
  opacity: 0.67;
  height: 37px;
  border-radius: 20px 0 0 20px;
  border: none;

}

.buttob_subscribe {
  width: 100px;
  height: 50px;
  background: #E05C6E;
  border-radius: 0 20px 20px 0;
  border: none;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  position: absolute;
  color: #FFFFFF;
  top: 0;
  right: 0;
  text-decoration: none;
  line-height: 50px;
}

.copyright_footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 230px 30px;
  align-items: center;
}


.text_copy {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.social_icon {
  display: flex;
}

.icon {
  color: #000000;
  background: #FFFFFF;
  width: 32px;
  height: 32px;
  margin-left: 7px;
}

.icon_red {
  background: #F16D7F;
}

.img_card {
  position: relative;
}

.add {
  display: none;
  position: absolute;
  top: 188px;
  left: 110px;
}

.card:hover .card-1 {
  filter: brightness(40%);
}

.card:hover .add {
  display: flex;
}

.add:hover .card.card-1 {
  filter: brightness(40%);
}

.img_card {
  display: flex;
  align-items: center;
}

.icon:hover {
  color: white;
  background: #E05C6E;
}