* {
  margin: 0;
  padding: 0;
  outline: none;
}

.top {
  background: #F1E4E6;
  margin: auto;
}

.top .head {
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 18px 240px 18px 231px;
}

.left_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.right_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

*/ .top .img-left {
  margin-right: 41px;
}

.top .img-right {
  margin-left: 33px;
}

.top .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 1600px;
  width: 100%;

}

.top .heading .top_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 331px;
}

.top .heading .top_box-text {
  margin-top: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top .heading .top_box-text .border {
  width: 12px;
  height: 92px;
}

.top .heading .top_box-text .text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #222222;
  margin-left: 16px;
}

.top .heading .top_box-text .text .top_text {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.top .heading .top_box-text .text .p_text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: whitesmoke;
  padding-top: 64px;
}

.container .foto_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
}

.container .foto_container .item_container {
  position: relative;
}

.container .foto_container .text_block_container {
  position: absolute;
  top: 103px;
  left: 105px;
}

.container .item_botton_container {
  margin: auto;
  position: relative;
}

.container .item_botton_container .text_block_botton_container {
  position: absolute;
  top: 65px;
  left: 492px;
}

.container .text_container {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.container .top_text_container {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-box .heading_card {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin: auto;
  text-align: center;
  display: block;
}

.card-box .text_card {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin: auto;
}

.card-box .card_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 360px;
  margin: auto;
  margin-bottom: 30px;
}

.card-box .card_block .card {
  background: #f0e8e8;
  text-decoration: none;
}

.card-box .card_block .card .heading_text_card {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 13px;
  text-decoration: none;
}

.card-box .card_block .card .main_text_card {
  margin-left: 16px;
}

.card-box .card_block .card .price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 18px;
  margin-bottom: 20px;
  color: #F16D7F;
}

.margin_img {
  margin-left: 30px;
}

.button {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  padding: 14px 38px;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 95px;
  text-decoration: none;
}

.button:hover {
  color: #FFFFFF;
  background: #F16D7F;
}

.page-2 {
  margin: auto;
  margin-bottom: 48px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu {
  width: 232px;
  height: 725px;
  background: #FFFFFF;
  position: absolute;
  top: 79px;
  right: 0;
  padding-left: 34px;
  padding-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
}

.close:hover .menu {
  display: none;
}

.drop_menu {
  text-decoration: none;
}

.drop_menu:hover .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list_menu {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.chapter_menu {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 6px;
  text-decoration: none;
}

.text_menu {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 6px 0 6px 30px;
  text-decoration: none;
}

.title_menu {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 24px;
}

/*# sourceMappingURL=style.css.map */